# Dependencies
node_modules/
package-lock.json

# Videos grandes
*.MP4
*.MOV
*.mp4
*.mov
*.avi
*.mkv

# Uploads
backend/uploads/
backend-mongo/uploads/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
