.custom-carousel {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 50vh; /* Altura del carrusel (ajusta según tus necesidades) */
  overflow: hidden; /* Oculta el desbordamiento */
  position: relative; /* Necesario para posicionar los elementos internos */
}

.carousel-inner {
  display: flex;
  height: 100%;
  transition: transform 1.5s ease-in-out; /* Transición más lenta */
}

.carousel-item {
  flex: 0 0 auto; /* Cada slide ocupa el 100% del ancho del contenedor */
  width: 100%; /* Ancho de cada slide */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  width: auto; /* Ajusta el ancho automáticamente */
  height: 100%; /* Ocupa toda la altura del contenedor */
  object-fit: contain; /* Ajusta la imagen sin recortarla */
  background-color: black; /* Fondo negro para imágenes 1x1 */
}