/* Reset básico para eliminar márgenes y padding predeterminados */
.dashboard-unique * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Incluye padding y bordes en el ancho y alto */
}

/* Estilos generales */
.dashboard-unique {
  width: 100%; /* Ocupa el 100% del ancho */
  min-height: 100vh; /* Ocupa al menos el 100% de la altura de la ventana */
  display: flex;
  flex-direction: column;
  font-family: 'Inter', 'Noto Sans', sans-serif;
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
}

/* Estilos para los contenedores */
.dashboard-unique-container {
  width: 100%; /* Ocupa el 100% del ancho disponible */
  min-height: 90vh; /* Cada contenedor ocupa al menos el 90% de la altura de la pantalla */
  display: flex;
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
  align-items: flex-end; /* Alinea el contenido en la parte inferior */
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-primary);
   /* Línea divisoria entre contenedores */
  background-size: cover; /* La imagen cubre todo el contenedor */
  background-position: center; /* Centra la imagen */
  position: relative; /* Necesario para posicionar el texto correctamente */
}

/* Estilos para el texto */
.dashboard-unique-text {
  color: white; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad */
  margin: 0 0 40px 40px; /* Margen inferior y izquierdo */
  text-align: left; /* Alinea el texto a la izquierda */
}

.Titulo-Dashboard {
  font-size: 4rem; /* Tamaño grande del título */
  font-weight: bold; /* Negrita */
  margin-bottom: 10px; /* Espacio entre título y subtítulo */
}

.Subtitulo-Dashboard {
  font-size: 2rem; /* Tamaño del subtítulo */
  font-weight: normal; /* Peso normal */
}

/* Estilos para dividir e l contenedor en dos mitades */
.dashboard-unique-split {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px; /* Padding general */
}


/* Mitad izquierda: Imagen fija */
.dashboard-unique-image {
  flex: 1; /* Ocupa la mitad del espacio */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Padding interno */
}

.fixed-image {
  width: 80%; /* Reducimos el ancho de la imagen al 80% */
  height: auto; /* Altura automática para mantener la proporción */
  max-height: 80%; /* Reducimos la altura máxima al 80% */
  object-fit: cover; /* Ajusta la imagen para cubrir el espacio sin distorsionar */
  border-radius: 10px; /* Bordes redondeados para un mejor aspecto */
}

/* Mitad derecha: Texto */
.dashboard-unique-text-container {
  flex: 1; /* Ocupa la mitad del espacio */
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center; /* Centra el texto verticalmente */
  align-items: flex-start; /* Alinea el texto a la izquierda */
  padding: 20px; /* Padding interno */
}

/* Estilos para el texto */
.dashboard-unique-text-container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.dashboard-unique-text-container p {
  font-size: 1.2rem;
  color: #333;
}

/* Estilos para el contenedor 3 */
.contenedor-3 {
  background-color: var(--color-primary);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0; /* Eliminamos el padding para que esté pegado al tope */
}

/* Título del contenedor 3 */
.titulo-contenedor-3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  margin: 20px 0; /* Margen solo arriba y abajo para separar del borde */
  text-align: center;
  
}

/* Contenedor de imágenes */
.imagenes-contenedor-3 {
  display: flex;
  justify-content: space-around; /* Distribuye las imágenes de manera uniforme */
  width: 100%;
  max-width: 1200px; /* Ancho máximo del contenedor de imágenes */
  margin-top: 20px; /* Espacio entre el título y las imágenes */
}

/* Cada item de imagen */
.imagen-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

/* Imagen cuadrada */
.imagen-cuadrada {
  width: 350px; /* Tamaño fijo para las imágenes */
  height: 400px; /* Tamaño fijo para las imágenes */
  object-fit: cover; /* Ajusta la imagen sin distorsionar */
   /* Bordes redondeados */
  margin-bottom: 10px; /* Espacio entre la imagen y el subtítulo */
}

/* Subtítulo de la imagen */
.subtitulo-imagen {
  font-size: 1.2rem;
  color: var(--color-warning);
  font-weight: bold;
  padding: 30px;
}
/* Estilos para el contenedor 4 */
/* Estilos para el contenedor 4 */
.contenedor-4 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
 /* Centra el contenido verticalmente */
  padding-bottom: 100px; /* Espaciado interno */
  color: white; /* Color del texto */
}

/* Título del contenedor 4 */
.titulo-contenedor-4 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px; /* Espacio debajo del título */
  text-align: center;
  color: var(--color-warning);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad */
}

/* Contenedor de mini contenedores de texto */
.textos-contenedor-4 {
  display: flex;
  justify-content: space-around; /* Distribuye los mini contenedores de manera uniforme */
  width: 100%;
 color: white;
  max-width: 1200px; /* Ancho máximo del contenedor de textos */
}

/* Cada mini contenedor de texto */
.texto-item {
  background-color: rgba(182, 182, 182, 0.261); /* Fondo semi-transparente */
  border-radius: 10px; /* Bordes redondeados */
  padding: 60px; /* Espaciado interno */
  width: 30%; /* Ancho de cada mini contenedor */
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para un efecto elevado */
  backdrop-filter: blur(0.1rem); /* Efecto de desenfoque */
}

/* Título del mini contenedor */
.texto-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Texto del mini contenedor */
.texto-item p {
  font-size: 1rem;
  line-height: 1.5; /* Espaciado entre líneas */
}
/* Estilos para los iconos */
.icono {
  font-size: 3rem; /* Tamaño grande del icono */
  color: var(--color-accent); /* Color del icono */
  margin-bottom: 20px; 
  /* Espacio entre el icono y el título */
}

/* Estilos para el contenedor 5 */
.dashboard-unique-split {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0px; /* Padding general */
}

/* Mitad izquierda: Texto */
.dashboard-unique-text-container5 {
  flex: 1; /* Ocupa la mitad del espacio */
  display: flex;
  
  text-align: right;
  flex-direction: column;
  justify-content: center; /* Centra el texto verticalmente */
  align-items: flex-start; /* Alinea el texto a la izquierda */
  padding: 20px; /* Padding interno */
}

/* Mitad derecha: Imagen */
.dashboard-unique-image {
  flex: 1; /* Ocupa la mitad del espacio */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Padding interno */
}

.fixed-image {
  width: 80%; /* Reducimos el ancho de la imagen al 80% */
  height: auto; /* Altura automática para mantener la proporción */
  max-height: 80%; /* Reducimos la altura máxima al 80% */
  object-fit: cover; /* Ajusta la imagen para cubrir el espacio sin distorsionar */
  border-radius: 10px; /* Bordes redondeados para un mejor aspecto */
}

/* Estilos para el contenedor 6 */
.contenedor-6 {
  background-color: var(--color-primary);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Espaciado interno */
}

/* Título del contenedor 6 */
.titulo-contenedor-6 {
  
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px; /* Espacio debajo del título */
  text-align: center;
  color: white; /* Color del texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar la legibilidad */
}

/* Contenedor de países */
.paises-contenedor-6 {
  display: flex;
  justify-content: space-around; /* Distribuye los países de manera uniforme */
  width: 100%;
  max-width: 1200px; /* Ancho máximo del contenedor de países */
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

/* Cada item de país */
.pais-item {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px; /* Espacio entre los países */
}

/* Bandera del país */
.bandera {
  width: 200px; /* Tamaño de la bandera */
  height: auto; /* Altura automática para mantener la proporción */
  border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 10px; /* Espacio entre la bandera y el nombre */
}

/* Nombre del país */
.pais-item p {
  font-size: 1.2rem;
  color: white; /* Color del texto */
  font-weight: bold;
}