body {
  font-family: 'Inter', 'Noto Sans', sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  padding: 0; /* Elimina el padding para que el carrusel ocupe toda la pantalla */
}

.projects-section, .team-section, .activity-section {
  margin-top: 20px; /* Reducimos el margen superior para que no quede demasiado espacio */
  padding: 20px 40px; /* Añade padding solo a estas secciones */
}

.projects-grid, .team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
  gap: 16px;
}

.project-card, .team-member {
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  text-align: center;
}

.project-image, .member-avatar, .activity-avatar {
  width: 100%;
  aspect-ratio: 1;
  background-size: cover;
  border-radius: 12px;
}

.activity-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.activity-item {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: white;
  padding: 16px;
  border-radius: 12px;
}

.activity-info {
  flex-grow: 1;
}