@import "./colors.css"; /* Importar el archivo de variables */

/* Estilos generales del sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--color-primary);
  color: var(--color-text-light);
  transition: all 0.3s ease;
  position: relative;
}

/* Encabezado del sidebar */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--color-secondary);
}

/* Botón para cambiar el tema */
.theme-button {
  background-color: var(--color-accent);
  color: var(--color-text-light);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.theme-button:hover {
  background-color: var(--color-warning);
}